*, *::before, *::after {
  margin: 0;
  padding: 0;
}

html.hide {
  overflow: hidden;
}

html {
  overflow-x: hidden;
}

body {
  background-color: $base-color;
  color: $dark1;
}

body, header, main, section, article, footer {
  position: relative;
}

section {
  padding: 5rem $px;
}

h2 {
  width: fit-content;
  position: relative;
  @include mx-auto;
  margin-bottom: 2em;
  padding-bottom: .25em;

  &.show::before {
    transform-origin: left;
    transform: scaleX(0);
    animation: h2BaseLine .4s .4s;
    animation-fill-mode: forwards;
  }

  &::before {
    content: '';
    width: 100%;
    height: .125rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $color1;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

small {
  font-size: .5em;
}

ul {
  list-style: none;
  list-style-position: inside;
}

.container {
  max-width: 1920px;
  @include mx-auto;
}

@keyframes h2BaseLine {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}
