// FONT SIZE
$scale: 1.25;

$fz-1: 1rem;

$fz-2: $fz-1 * $scale;
$fz-3: $fz-2 * $scale;
$fz-4: $fz-3 * $scale;
$fz-5: $fz-4 * $scale;
$fz-6: $fz-5 * $scale;

$fz-0: $fz-1 / $scale;


// FONT FAMILY
$font-headings: 'Kaushan Script', cursive;
$font-default: 'Poppins', sans-serif;
$font-secundary: 'Merriweather', serif;


// COLORS
$dark1: #222222;
$dark2: #3F3838;
$dark3: #474746;

$color1: #3AAE68;
$color2: #81E696;
$color3: #DDF2C1;

$base-color: #F5F5F5;


// VIEW
$xsm: 20rem; // 320px
$sm: 36rem; // 576px
$md: 48rem; // 768px
$xl: 75rem; // 1200px


$px: 2rem;
