section.gallery {
  .btns-group {
    margin: 0 0 4rem -1rem;
  }

  button {
    width: 5.625rem;
    margin: .5em 1rem;
  }

  .gallery-container {
    .grid {
      display: grid;
      gap: 0px;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-auto-rows: 20px;

      // column-count: 4;
      // gap: 0px;
      img {
        width: 100%;
        vertical-align: middle;
        transition: transform .15s;

        &:hover {
          transform: scale3d(1.015, 1.015, 1.015);
        }
      }
    }
  }
}
