section.gallery {
  .btns-group {
    margin: 0 0 4rem -1rem;
  }

  button {
    width: 5.625rem;
    margin: 0.5em 1rem;
  }

  .gallery-container {
    .grid {
      column-count: 5;
      gap: 0;

      img {
        width: 100%;
        vertical-align: middle;
        transition: transform 0.15s;

        &:hover {
          transform: scale3d(1.015, 1.015, 1.015);
        }
      }
    }
  }
}
