header.navbar {
  width: 100%;
  z-index: 9999;
  background-color: $base-color;

  nav {
    @include flex-center($x: false);
    justify-content: space-between;
    height: 50px;
    padding: 1rem $px;
  }
}


.brand {
  height: 100%;

  &:focus {
    outline: .15em dashed $color1;
  }

  img {
    height: 100%;
  }
}

button.toggler {
  display: none;
  width: 50px;
  height: 50px;
  position: relative;
  border: none;
  outline: none;
  z-index: 2;
  background-color: transparent;

  span {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 5px;
    background-color: $dark1;
    transition-delay: .2s;

    &::before,
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      transition-property: top, transform, background-color;
      transition-delay: .2s, 0s, .05s;
      transition-duration: .3s, .3s;
      transition-timing-function: cubic-bezier(0.18, 0.89, 0.39, 1.82);
      background-color: $dark1;
      border-radius: 5px;
    }

    &::before {
      top: -300%;
    }

    &::after {
      top: 300%;
    }
  }

  &[open] span {
    background-color: transparent;

    &::before,
    &::after {
      top: 0;
      background-color: $base-color;
      transition-delay: 0s, .2s, .25s;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

#header-navbar-menu {
  ul {
    @include flex-center;
    list-style: none;
  }

  li {
    margin: 0 1.5625em;

    a {
      position: relative;
      padding: .25em .5em;

      &::before {
        content: '';
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: transform .25s, opacity .25s;
        transform-origin: center;
        transform: translate3d(0, -.35em, 0) scaleX(.9);
        border-top: .125rem solid $color1;
      }

      &:not(.active):hover::before,
      &:not(.active):focus::before {
        transition: transform .4s, opacity .4s;
        transform: translate3d(0, 0, 0) scaleX(1);
        opacity: 1;
      }

      &:focus {
        outline: 1px dashed black;
      }

      &.active {
        color: $color1;
      }
    }
  }
}
