section.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
  font-family: $font-secundary;
  color: $base-color;

  .txt {
    height: calc(100vh - 82px);
    min-height: 30rem;
    max-height: 38rem;
    padding: 5rem $px 10rem;
    background: {
      image: linear-gradient(
        180deg,
        rgba(0, 0, 0, .9) 0%,
        rgba(0, 0, 0, .3) 100%
      ), url("../img/about-bg.jpg");
      position: 0 65%;
      size: cover;
      repeat: no-repeat;
    }
  }

  h3 {
    margin: 2em 0;
    color: $color1;
  }

  h4 {
    margin-bottom: 1.5em;
    color: $color2;
  }

  .img {
    background: {
      image: radial-gradient(
        50% 50% at 50% 50%,
        rgba(0, 0, 0, 0.1) 0%,
        rgba(0, 0, 0, 0.5) 100%)
        , url("../img/about-bg2.jpg");
      position: center;
      size: cover;
      repeat: no-repeat;
    }
  }
}
