.btn {
  cursor: pointer;
  border: .15em solid transparent;
  position: relative;
  padding: .5em 1.25em;
  border-radius: .15em;
  transition: {
    property: background-color, color;
    duration: .4s, .4s;
  }
  outline: none;
  transform-style: preserve-3d;
  background-color: $color1;
  font-size: $fz-1;
  font-weight: bold;
  color: $base-color;

  &:hover {
    background-color: darken($color1, 10%);
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    @include absolute;
    border-radius: inherit;
    transform: translate3d(0, 0, -1px);
    opacity: 0;
    transition: opacity .4s;
    box-shadow: 0 .1875em .3125rem rgba(darken($color1, 20%), .6);
  }

  &:hover::before {
    opacity: 1;
  }

  &:active,
  &:focus {
    transition: none;
    transform: translate3d(0, .065em, 0);
    box-shadow: none;
  }

  &.btn-rounded {
    border-radius: 2em;
  }

  &.btn-outline {
    border-color: $color1;
    background-color: transparent;
    color: $dark1;

    &:hover {
      background-color: $color1;
      color: $base-color;
    }

    &.btn-outline-light {
      color: $base-color;
    }

    &.actived {
      transition: none;
      background-color: $color1;
      color: $base-color;

      &:hover,
      &:active,
      &:focus {
        transform: translate3d(0, 0, 0);
      }

      &:hover::before {
        opacity: 0;
      }
    }
  }

  &.btn-sm {
    padding: .35em 1.15em;
    font-size: $fz-0;
  }

  &.btn-lg {
    padding-right: 4em;
    padding-left: 4em;
  }
}
